<!-- This is what earthwalker inserts into the raw StreetView html file. See streetviewserver/svserver.go. !-->

<!-- We import this css in Modify.svelte, so it probably isn't needed !-->
<!-- <link rel="stylesheet" href="/public/modify_frontend/modify.css"> -->
<link rel="stylesheet" href="/public/bundle-[custom-hash].css">

<script src="https://maps.google.com/maps/api/js"></script>
<script defer src="/public/main-[custom-hash].js"></script>
